// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-item {
  color: #000;
}

.label {
  margin-right: 5px;
}
a.label {
    text-decoration: none;
}
